*.0 linguistic-language=text
*.1 linguistic-language=text
*.2 linguistic-language=text
*.3 linguistic-language=text
*.4 linguistic-language=text
*.5 linguistic-language=text
*.6 linguistic-language=text
*.7 linguistic-language=text
*.8 linguistic-language=text
*.9 linguistic-language=text