<!-- Questa è una classe figlia, Everything before it is printed out normally-->
{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Exec TAA 
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">

      <!-- note, the id is not used in the template -->

      <u><h1 class="pt-5 pb-2">Temporal Apriori Algorithm</h1></u>

        <a href="{{ url_for('index') }}">
          <input class="btn btn-primary" type="button" value="Return to algorithm" style="margin-top:25px;">
        </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <p class="font-weight-bold" style="margin-top:50px;">Valori settati: </p> 
        <p>Sleep value: {{sleep_value}} , 
        temporal_window: {{temporal_window}} ,
        min_support: {{min_support}} ,
        min_confidence: {{min_confidence}}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <p class="font-weight-bold" style="margin-top:30px;">Total rules generated: {{len_rules}}</p> 
    </div>
  </div>

  <div class="row">
    <div class="col-sm" >
      <table class="table table-bordered" style="margin-top:50px;">
        <caption>Rules generated</caption>
        <thead class="thead-dark">
          <th scope="col">Rule</th>
          <th scope="col">Confidence</th>
          <th scope="col">Support</th>
        </thead>
        {%for element in rules%}
        <tbody>
          <tr>
            <th>{{element.rule}}</th>
            <th>{{element.confidence}}</th>
            <th>{{element.support}}</th>
          </tr>
        </tbody>
      {%endfor%}
      </table>
    </div>
  </div>

 
 

{% endblock %}