{% extends 'base.html' %}

{% block title %}
LookBack Apriori Algorithm
{% endblock %}


{% block content %}

<!-- Creo un container-->
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Simple web page to handle LookBack Apriori Algorithm!</h1>

      <p class="lead">This is a simple Flask app using Bootstrap. </p>
      
        <div> 
          {% if message %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Att!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          
          <form action="/algorithm" method="POST">
            <select class="form-control" aria-label="Default select example" name="data_select">
              <option selected value="null">Data available</option>
                <option value="pm1">pm1</option>
                <option value="pm2">pm2</option>
                <option value="pm3">pm3</option>
                <option value="pm4">pm4</option>
                <option value="pm5">pm5</option>
              </select>
            </div>
            
           <br/>
           
           <div class="form-group"><input type="number" class="form-control" placeholder="sleep_value" name="sleep_value" ></div>
           <br/>
           <div class="form-group"><input type="number" class="form-control" placeholder="temporal_window" name="temporal_window"></div>
           <br/>
           <div class="form-group"><input type="number" step=0.01 class="form-control" placeholder="min_support" name="min_support"></div>
           <br/>
           <div class="form-group"><input type="number" step=0.01  class="form-control" placeholder="min_confidence" name="min_confidence"></div>
           <br/>
            <button type="submit" class="btn btn-secondary" >Run Algorithm!</button>
          </form>
    </div>
  </div>
</div>
  
{% endblock %}